In [1]:
import pandas as pd
import gc

In [2]:
df = pd.read_csv('fines.csv')
df

        CarNumber  Refund    Fines    Make  Model  Year
0    Y163O8161RUS       2   3200.0    Ford  Focus  1989
1     E432XX77RUS       1   6500.0  Toyota  Camry  1995
2     7184TT36RUS       1   2100.0    Ford  Focus  1984
3    X582HE161RUS       2   2000.0    Ford  Focus  2015
4    92918M178RUS       1   5700.0    Ford  Focus  2014
..            ...     ...      ...     ...    ...   ...
925  C584EY154RUS       1    500.0    Ford  Focus  2014
926  T395KX197RUS       2  15200.0    Ford  Focus  2016
927  8441XX154RUS       1    500.0    Ford  Focus  1994
928  C590EY154RUS       2   8594.6    Ford  Focus  1982
929   T171CC96RUS       1   1000.0    Ford  Focus  2017

[930 rows x 6 columns]

• iterations: in all the following subtasks, you need to calculate fines/refund*year for
each row and create a new column with the calculated data and measure the time
using the magic command %%timeit in the cell<br>
◦ loop: write a function that iterates through the dataframe using for i in
range(0, len(df)), iloc and append() to a list, assign the result of the function to a new column in the dataframe

In [3]:
def loop_df(df):
    res = []
    for i in range(0, len(df)):
        fines = df.iloc[[i]]['Fines']
        refund = df.iloc[[i]]['Refund']
        year = df.iloc[[i]]['Year']
        res.append(fines/refund*year)
    df['Res'] = res

In [4]:
pd.options.display.float_format = '{:.2f}'.format
loop_df(df)
df

,CarNumber,Refund,Fines,Make,Model,Year,Res
0,Y163O8161RUS,2,3200.00,Ford,Focus,1989,0 3182400.00 dtype: float64
1,E432XX77RUS,1,6500.00,Toyota,Camry,1995,1 12967500.00 dtype: float64
2,7184TT36RUS,1,2100.00,Ford,Focus,1984,2 4166400.00 dtype: float64
3,X582HE161RUS,2,2000.00,Ford,Focus,2015,3 2015000.00 dtype: float64
4,92918M178RUS,1,5700.00,Ford,Focus,2014,4 11479800.00 dtype: float64
...,...,...,...,...,...,...,...
925,C584EY154RUS,1,500.00,Ford,Focus,2014,925 1007000.00 dtype: float64
926,T395KX197RUS,2,15200.00,Ford,Focus,2016,926 15321600.00 dtype: float64
927,8441XX154RUS,1,500.00,Ford,Focus,1994,927 997000.00 dtype: float64
928,C590EY154RUS,2,8594.60,Ford,Focus,1982,928 8517248.60 dtype: float64
929,T171CC96RUS,1,1000.00,Ford,Focus,2017,929 2017000.00 dtype: float64

◦ do it using iterrows()

In [5]:
def loop_df2(df):
    res = []
    for i, row in df.iterrows():
        fines = df.iloc[[i]]['Fines']
        refund = df.iloc[[i]]['Refund']
        year = df.iloc[[i]]['Year']
        res.append(fines/refund*year)
    df['Res'] = res

In [6]:
loop_df2(df)
df

,CarNumber,Refund,Fines,Make,Model,Year,Res
0,Y163O8161RUS,2,3200.00,Ford,Focus,1989,0 3182400.00 dtype: float64
1,E432XX77RUS,1,6500.00,Toyota,Camry,1995,1 12967500.00 dtype: float64
2,7184TT36RUS,1,2100.00,Ford,Focus,1984,2 4166400.00 dtype: float64
3,X582HE161RUS,2,2000.00,Ford,Focus,2015,3 2015000.00 dtype: float64
4,92918M178RUS,1,5700.00,Ford,Focus,2014,4 11479800.00 dtype: float64
...,...,...,...,...,...,...,...
925,C584EY154RUS,1,500.00,Ford,Focus,2014,925 1007000.00 dtype: float64
926,T395KX197RUS,2,15200.00,Ford,Focus,2016,926 15321600.00 dtype: float64
927,8441XX154RUS,1,500.00,Ford,Focus,1994,927 997000.00 dtype: float64
928,C590EY154RUS,2,8594.60,Ford,Focus,1982,928 8517248.60 dtype: float64
929,T171CC96RUS,1,1000.00,Ford,Focus,2017,929 2017000.00 dtype: float64

◦ do it using apply() and lambda function

In [7]:
df['Res'] = df.apply(lambda x: x['Fines'] / x['Refund'] * x['Year'], axis=1)
df

        CarNumber  Refund    Fines    Make  Model  Year         Res
0    Y163O8161RUS       2  3200.00    Ford  Focus  1989  3182400.00
1     E432XX77RUS       1  6500.00  Toyota  Camry  1995 12967500.00
2     7184TT36RUS       1  2100.00    Ford  Focus  1984  4166400.00
3    X582HE161RUS       2  2000.00    Ford  Focus  2015  2015000.00
4    92918M178RUS       1  5700.00    Ford  Focus  2014 11479800.00
..            ...     ...      ...     ...    ...   ...         ...
925  C584EY154RUS       1   500.00    Ford  Focus  2014  1007000.00
926  T395KX197RUS       2 15200.00    Ford  Focus  2016 15321600.00
927  8441XX154RUS       1   500.00    Ford  Focus  1994   997000.00
928  C590EY154RUS       2  8594.60    Ford  Focus  1982  8517248.60
929   T171CC96RUS       1  1000.00    Ford  Focus  2017  2017000.00

[930 rows x 7 columns]

In [8]:
df['Res'] = pd.DataFrame(df['Fines'] /df['Refund'] * df['Year'])
df

        CarNumber  Refund    Fines    Make  Model  Year         Res
0    Y163O8161RUS       2  3200.00    Ford  Focus  1989  3182400.00
1     E432XX77RUS       1  6500.00  Toyota  Camry  1995 12967500.00
2     7184TT36RUS       1  2100.00    Ford  Focus  1984  4166400.00
3    X582HE161RUS       2  2000.00    Ford  Focus  2015  2015000.00
4    92918M178RUS       1  5700.00    Ford  Focus  2014 11479800.00
..            ...     ...      ...     ...    ...   ...         ...
925  C584EY154RUS       1   500.00    Ford  Focus  2014  1007000.00
926  T395KX197RUS       2 15200.00    Ford  Focus  2016 15321600.00
927  8441XX154RUS       1   500.00    Ford  Focus  1994   997000.00
928  C590EY154RUS       2  8594.60    Ford  Focus  1982  8517248.60
929   T171CC96RUS       1  1000.00    Ford  Focus  2017  2017000.00

[930 rows x 7 columns]

In [9]:
df['Res'] = pd.DataFrame(df['Fines'] /df['Refund'] * df['Year'])
df.values

array([['Y163O8161RUS', 2, 3200.0, ..., 'Focus', 1989, 3182400.0],
       ['E432XX77RUS', 1, 6500.0, ..., 'Camry', 1995, 12967500.0],
       ['7184TT36RUS', 1, 2100.0, ..., 'Focus', 1984, 4166400.0],
       ...,
       ['8441XX154RUS', 1, 500.0, ..., 'Focus', 1994, 997000.0],
       ['C590EY154RUS', 2, 8594.6, ..., 'Focus', 1982, 8517248.6],
       ['T171CC96RUS', 1, 1000.0, ..., 'Focus', 2017, 2017000.0]],
      dtype=object)